/*IMPORT FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald:wght@200&display=swap');

/*OVERALL GUIDE*/
* {
    box-sizing: border-box;
}


:root {
    --colour-1: #C85100;
    --colour-2: #3a5a40;
    --colour-3: #a3b18a;
    --colour-4: #f4f3ee;
    --colour-5: #ffff;

    --primary-font: "Amatic SC", bold;
    --secondary-font: "Oswald";
    --main-text-color: #000;
    --white-space: 1rem;
}

main {
    padding: calc(2 * var(--white-space));
}

section {
    margin-bottom: calc(3 * var(--white-space));
}


/*LINKS*/


a {
    font-family: var(--secondary-font);
    transition: all 1s;
    color: var(--colour-3);
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: var(--colour-2);
}

/*LIST DESIGN*/
ul {
    display: flex;
    list-style: none;
}

ul li:last-child {
    margin-right: 0;
}

/*FONTS*/

.swatches li {
        margin-right: 1%;
        height: 8em;
        width: 8em;
        display: flex;
        flex-direction: column;
    }

h1 {
    font-family: var(--primary-font);
    font-size: 3em;
    font-weight: bold;
    margin: auto;
    color: var(--colour-1);
}

h2 {
    font-family: var(--primary-font);
    font-size: 2em;

}

h3 {
    font-family: var(--secondary-font);
    font-size: 1.4em;
    font-weight: 200;
}

p {
    font-family: var(--secondary-font);
    font-size: 1.2em;
    font-weight: 200;
}

.typography-main {
    color: var(--main-text-color);
}

p[class*="font-details-"] {
    margin-top: rem;
    margin-bottom: calc(3 * var(--white-space));
    font-size: 1rem;
    font-family: var(--secondary-font);
    color: #6f6f6f;
}

/*HEADER*/

.full-width {
    position: relative;
    text-align: center;
    background-color: var(--colour-4);
    color: var(--main-text-color);
}

.header_item {
   margin-left: 2vw;
}

header h1 {
    color: var(--main-text-color);
}

.header-wrapper {
    padding: 2vw 0 2vw 0;

}

.section-heading {
    font-style: italic;
    font-size: 1.3rem;
    color: #777;
    margin: 0.5rem 0;
}

/*COLOUR SWATCHES*/

.swatchgrid {
    margin-left: -3em;
}

.color-swatch-1 {
    background-color: var(--colour-1);
}

.color-swatch-2 {
    background-color: var(--colour-2);
}

.color-swatch-3 {
    background-color: var(--colour-3);
}

.color-swatch-4 {
    background-color: var(--colour-4);
}

.color-swatch-5 {
    background-color: var(--colour-5);
}


/*ICONS*/

.icons li {
    width: 10em;
}

#icons-wrapper {
    display: flex;
}
.icons img{
    height: 12vw;
    margin-right: 2em;
}




/*BUTTON STYLING*/

button {
    font-family: var(--secondary-font);
    font-size: 22px;
    border-radius: 5em;
    background-color: var(--colour-1);
}

.primary-button {
    padding: 0.5em 2.5em 0.5em 2em;
    position: relative;
    color: white;
    margin-right: 2em;
    border: solid var(--colour-1);
}

.primary-button img {
    position: absolute;
    top: 0.7em;
    left: 6em;
}
.primary-button:hover {
    border-color: solid var(--colour-1);
    cursor: pointer;
    background: none;
    color: var(--colour-1)
}

.secondary-button {
    color: var(--colour-2);
    border: none;
    background: none;
    font-family: var(--primary-font);
    font-size: 2em;
}

.secondary-button:hover {
    cursor: pointer;
    color: var(--colour-3);
}

/*ADJECTIVES*/

.adjectives ul li{
    opacity: 0.5;
    font-size: 2rem;
    padding-right: 1em;
}


/*FOOTER*/

footer {
    padding: 2vw;
}

/*MEDIA QUERIES*/

@media (min-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 2em;
    }

}

@media (min-width: 900px) {
    .adjectives ul {
        flex-direction: row;
    }
}

@media (max-width: 800px) {

    .icons img {
        height: 25vw;
    }
}

/* HIDE CLASS*/

.hide {
    display: none;
}
